<ion-toolbar>
  <ion-title>QR</ion-title>
  <ion-buttons slot="end" routerLink="/home">
    <ion-button (click)="cerrarSesion()"> Cerrar Sesión </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <h1>Muestra el QR para el escaneo</h1>
  <select #selectList (change)="selectCamera(selectList.value)">
    <option *ngFor="let camera of cameras" value={{camera.label}}>
      {{ camera.label }}
    </option>
  </select>

  <zxing-scanner style="width: 500px;"
  [enable]="scannerEnabled"
  [device]="myDevice"
  (camerasFound)="camerasFoundHandler($event)"
  (scanSuccess)="scanSuccessHandler($event)"
></zxing-scanner>
</ion-content>
