<ion-toolbar >
  <ion-buttons slot="end" routerLink="/home">
    <ion-button>Volver</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <br>
  <ion-title class="title-animation">Recuperar usuario</ion-title>
  <br>
  <br>
  <br>
    <div class="prueba">
      <ion-input
        [(ngModel)]="usuario"
        label="Usuario"
        labelPlacement="floating"
        [clearInput]="true"
        placeholder="Ingrese su nombre de usuario"
        errorText="Debe ingresar su nombre de usuario"
        required>
      </ion-input>
    </div>
    <br>
    <ion-button size="block" (click)="mostrarContrasenia()">Ingresar</ion-button>

</ion-content>
