<ion-toolbar>
  <ion-buttons slot="end" routerLink="/home">
    <ion-button (click)="cerrarSesion()"> Cerrar sesion </ion-button>
  </ion-buttons>
</ion-toolbar>



<ion-content [fullscreen]="true" >
  <br>
  <ion-title>Clase Registrada</ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul class="mostrar">
        <li *ngIf="splitResultado()['Nombre Profesor']">Nombre Profesor: {{ splitResultado()['Nombre Profesor'] }}</li>
        <li *ngIf="splitResultado()['Hora']">Hora: {{ splitResultado()['Hora'] }}</li>
        <li *ngIf="splitResultado()['sala']">Sala: {{ splitResultado()['sala'] }}</li>
        <li *ngIf="splitResultado()['Dia']">Día: {{ splitResultado()['Dia'] }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul class="mostrar">
        <li> Nombre: {{ usuarioActual?.nombre }}</li>
        <li> Apellido: {{ usuarioActual?.apellido }}</li>
        <li> RUT: {{ usuarioActual?.rut }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-list>
    <ion-item>
      <ion-label>Latitud:</ion-label>
      <ion-note slot="end">{{ latitude }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Longitud:</ion-label>
      <ion-note slot="end">{{ longitude }}</ion-note>
    </ion-item>
  </ion-list>
  <ion-button expand="block" size="small" (click)="getCurrentLocation()">Obtener ubicación</ion-button>
  </ion-card>
<ion-card-content>
    <div class="image-container">
      <img [src]="getPhoto()" style="width: 250px;">
    </div>
    <ion-button expand="block" size="small" (click)="takePicture()"> ¡Hazte una Selfie! </ion-button>
</ion-card-content>

</ion-content>
